# Peer-graded Assignment: Capstone Project - The Battle of Neighborhoods (Week 1)

### Introduction & Business Problem

Problem:  Finding the best Neighborhood in Toronto by exploring some factors like area population,  income of people and as well as competitors so that business man can open a new restaurant.

### Data

To collect & gather necessary information so that we can provide the important insights to superiors & stakeholders to make necessary action.   

For this, we will use Toronto offical data which is available on https://www.toronto.ca  

Note: **Data is publicaly available so there no need restrinction to use this**

In [3]:
#importing some required libraries

import numpy as np
import pandas as pd
import folium
print("Libraries have been imported!")

Libraries have been imported!

In [5]:
toronto_data = pd.read_csv("https://www.toronto.ca/ext/open_data/catalog/data_set_files/2016_neighbourhood_profiles.csv", encoding="latin1")
print("Data has been loaded!")

Data has been loaded!

**Now, Explore the data, we have collected:**

In [6]:
toronto_data.head()

,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,Neighbourhood Information,Neighbourhood Information,City of Toronto,Neighbourhood Number,NaN,129,128,20,95,42,...,37,7,137,64,60,94,100,97,27,31
1,Neighbourhood Information,Neighbourhood Information,City of Toronto,TSNS2020 Designation,NaN,No Designation,No Designation,No Designation,No Designation,No Designation,...,No Designation,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,Emerging Neighbourhood
2,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2016","2,731,571","29,113","23,757","12,054","30,526","27,695",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
3,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2011","2,615,060","30,279","21,988","11,904","29,177","26,918",...,"15,004","21,343","53,350","11,703","7,826","13,986","10,578","11,652","27,713","14,687"
4,Population,Population and dwellings,Census Profile 98-316-X2016001,Population Change 2011-2016,4.50%,-3.90%,8.00%,1.30%,4.60%,2.90%,...,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%

**Now, we will collect the Neighbourhood Names**

In [12]:
neigh_list = list(toronto_data.columns.values)[5:] #use indexing to remove uncessary data
neigh_list[:25]

['Agincourt North',
 'Agincourt South-Malvern West',
 'Alderwood',
 'Annex',
 'Banbury-Don Mills',
 'Bathurst Manor',
 'Bay Street Corridor',
 'Bayview Village',
 'Bayview Woods-Steeles',
 'Bedford Park-Nortown',
 'Beechborough-Greenbrook',
 'Bendale',
 'Birchcliffe-Cliffside',
 'Black Creek',
 'Blake-Jones',
 'Briar Hill-Belgravia',
 'Bridle Path-Sunnybrook-York Mills',
 'Broadview North',
 'Brookhaven-Amesbury',
 'Cabbagetown-South St. James Town',
 'Caledonia-Fairbank',
 'Casa Loma',
 'Centennial Scarborough',
 'Church-Yonge Corridor',
 'Clairlea-Birchmount']

**Now, we will collect neighbourhood population**

In [16]:
#First Creating new dataset

population_data = pd.DataFrame(index=neigh_list, columns=["Population", "Income"])
population_data.head()

                             Population Income
Agincourt North                     NaN    NaN
Agincourt South-Malvern West        NaN    NaN
Alderwood                           NaN    NaN
Annex                               NaN    NaN
Banbury-Don Mills                   NaN    NaN

**Now, Filling the data in population_data dataframe**

In [17]:
for index, row in population_data.iterrows():
    population_data.at[index, "Population"] = toronto_data[index][2]
    population_data.at[index, "Income"] = toronto_data[index][2264]
    
#printing the data
population_data.head()

                             Population   Income
Agincourt North                  29,113   30,414
Agincourt South-Malvern West     23,757   31,825
Alderwood                        12,054   47,709
Annex                            30,526  112,766
Banbury-Don Mills                27,695   67,757

In [18]:
#Now, sort the data by income and see the result
population_data.sort_values("Income")
population_data

                             Population   Income
Agincourt North                  29,113   30,414
Agincourt South-Malvern West     23,757   31,825
Alderwood                        12,054   47,709
Annex                            30,526  112,766
Banbury-Don Mills                27,695   67,757
...                                 ...      ...
Wychwood                         14,349   54,460
Yonge-Eglinton                   11,817   89,330
Yonge-St.Clair                   12,528  114,174
York University Heights          27,593   29,958
Yorkdale-Glen Park               14,804   38,527

[140 rows x 2 columns]